.required:after {
    content:"*";
    color: #fd7575;
}

.user {
    color: #1a1919;
}
.user:hover {
    color: #656ba2;
}
.tab-header {
    width: 100%;
    display: block;
    padding: 10px 0;
}
.tab-header ul {
    margin-top: 10px;
    padding: 0;
}
.tab-header ul li{
    display: inline;
    margin: 0px;
    list-style-type: none;
}
.tab-header ul.menu-cards li {
    border-right: 1px solid #6d9696;
    border-left: 1px solid #6d9696;
    border-top: 1px solid #6d9696;
    padding: 10px 5px;
    background-color: #FAFAFA;
    border-radius: 6px 6px 0px 0px;
}
.tab-header ul.menu-cards li:hover {
    background-color: #c8d0d0;
}
.tab-header ul.menu-cards li.active {
    background-color: #c8d0d0;
  }
.tab-header ul.menu-cards li a {
    color: #313131;
}
.tab-header ul.menu-cards li a:hover {
    color: #ffffff;
    text-decoration: none;
}
