.required:after {
    content:"*";
    color: #fd7575;
}

.user {
    color: #1a1919;
}
.user:hover {
    color: #656ba2;
}
.tab-header {
    width: 100%;
    display: block;
    padding: 10px 0;
}
.tab-header ul {
    margin-top: 10px;
    padding: 0;
}
.tab-header ul li{
    display: inline;
    margin: 0px;
    list-style-type: none;
}
.tab-header ul.menu-cards li {
    border-right: 1px solid #6d9696;
    border-left: 1px solid #6d9696;
    border-top: 1px solid #6d9696;
    padding: 10px 5px;
    background-color: #FAFAFA;
    border-radius: 6px 6px 0px 0px;
}
.tab-header ul.menu-cards li:hover {
    background-color: #c8d0d0;
}
.tab-header ul.menu-cards li.active {
    background-color: #c8d0d0;
  }
.tab-header ul.menu-cards li a {
    color: #313131;
}
.tab-header ul.menu-cards li a:hover {
    color: #ffffff;
    text-decoration: none;
}
div.pay {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    padding: 0;
    border-radius: 50%;
}

.paid {
    background: #81f586;
}

.unpaid {
    background: #f15b76;
}

.owe-display {
    display: block;
    padding: 5px 20px;
    text-align: center;
    color: white;
    margin: 5px 0px;
    border-radius: 35px;
}

.dashboard-card-wrapper {
    padding: 10px;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 30px;
    border: 1px solid #7c7c7c;
    margin: 0 auto;
    padding: 10px;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.dashboard-card:hover {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
